/*FONTS:
font-family: 'Bangers', cursive;
font-family: 'Acme', sans-serif;*/

.task{
    margin: 20px auto;
    font-family: 'Bangers', cursive;
    font-size: 35px;
    color: #333;
    text-align: center;
    overflow: hidden;
}

.game-container{
    position: relative;
    margin:  auto;
    width: 90%;
    font-family: 'Acme', sans-serif;
    text-align: center;
    background-color: #ddd;
    overflow: hidden;
}
.alphabet-position{
    display: flex;
    margin: 2vh auto;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}
.letters{
    margin: 1px;
    height: 30px;
    width: 30px;
    border: 1px solid #333;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    transition: 0.2s;
}
.letters:hover{
    box-shadow: 2px 2px 2px black;
    color: #ddd;
    background-color: #333333;
    cursor: pointer;
}

.checked-letters{
    margin: 1px;
    height: 30px;
    width: 30px;
    border: 1px solid darkred;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: darkred;
    opacity: .5;
    transition: 0.2s;
}

.checked-letters:hover{
    box-shadow: 2px 2px 2px black;
    color: #333333;
    background-color: darkred;
    cursor: pointer;
    opacity: 1;
}

.good-letters{
    margin: 1px;
    height: 30px;
    width: 30px;
    border: 1px solid darkgreen;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: darkgreen;
    opacity: .5;
    transition: 0.2s;
}

.good-letters:hover{
    box-shadow: 2px 2px 2px black;
    color: #333333;
    background-color: darkgreen;
    cursor: pointer;
    opacity: 1;
}

.inquiry{
    margin-top: 6vh;
    font-size: 25px;
}

.answer-area{
    display: flex;
    position: relative;
    left: 3%;
    width: 90%;
    justify-content: center;
    margin-top: 10vh;
    font-size: 40px;
}

.answerStyle{
    margin-left: 3%;
    border-bottom: 3px solid #333;
    height: 40px;
    width: 40px;
}

.life-qty{
    margin-top: 10vh;
    font-size: 20px;
}

.text-information{
    text-transform: uppercase;
}

.total-live{
    color: darkred;
    font-size: 22px;
}

.clue{
    color: darkred;
}

.hidden{
    color: transparent;
}

.draw-information{
    position: relative;
    height: 100%;
    width: 50%;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    border: #333333 2px dashed;
}

.btn-position{
    position: absolute;
    left: 50%;
    bottom:10%;
    transform: translate(-50%, -50%);
}

.btn{
    margin: 0 10px;
    padding: 10px;
    border: 1px #333 solid;
    height: 50px;
    min-width: 100px;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    background-color: #ddd;
    text-transform: uppercase;
    transition: .2s;
}

.btn:hover{
    border: 2px darkorange dotted;
    color: darkorange;
    background-color: #333;
    cursor: pointer;
}

/*@media portrait*/
@media (orientation: portrait) and (min-width: 320px) and (max-width: 380px){
    .task{
        font-size: 25px;
    }
    .letters{
        height: 20px;
        width: 20px;
        font-size: 20px;
        line-height: 20px;
    }
    .checked-letters{
        height: 20px;
        width: 20px;
        font-size: 20px;
        line-height: 20px;
    }
    .good-letters{
        height: 20px;
        width: 20px;
        font-size: 20px;
        line-height: 20px;
    }
    .inquiry{
        font-size: 22px;
    }
    .answer-area{
        margin-top: 5vh;
        font-size: 25px;
    }
    .answerStyle{
        height: 25px;
        width: 25px;
    }
    .life-qty{
        margin-top: 5vh;
        font-size: 22px;
    }
    .total-live{
        font-size: 24px;
    }
    .clue{
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-size: 20px;
    }
    .draw-information{
        top: 5vh;
    }
    .btn-position{
        position: relative;
        margin: 15vh auto;
    }
    .btn{
        margin: 5px;
        padding: 3px;
        height: 30px;
        width: 100px;
        font-size: 15px;
    }
}
@media (orientation: portrait) and (min-width: 381px){
    .task{
        padding: 5px;
        font-size: 30px;
    }
    .letters{
        height: 25px;
        width: 25px;
        font-size: 25px;
        line-height: 25px;
    }
    .checked-letters{
        height: 25px;
        width: 25px;
        font-size: 25px;
        line-height: 25px;
    }
    .good-letters{
        height: 25px;
        width: 25px;
        font-size: 25px;
        line-height: 25px;
    }
    .inquiry{
        font-size: 27px;
    }
    .answer-area{
        margin-top: 7vh;
        font-size: 30px;
    }
    .answerStyle{
        height: 30px;
        width: 30px;
    }
    .life-qty{
        margin-top: 5vh;
        font-size: 27px;
    }
    .total-live{
        font-size: 29px;
    }
    .clue{
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-size: 25px;
    }
    .draw-information{
        top:15px;
    }
    .btn-position{
        position: relative;
        margin: 15vh auto;
    }
    .btn{
        margin: 10px;
        padding: 6px;
        height: 40px;
        width: 140px;
        font-size: 20px;
    }
}
@media (orientation: portrait) and (min-width: 760px){
    .task{
        font-size: 45px;
    }
    .letters{
        height: 35px;
        width: 35px;
        font-size: 35px;
        line-height: 35px;
    }
    .checked-letters{
        height: 35px;
        width: 35px;
        font-size: 35px;
        line-height: 35px;
    }

    .good-letters{
        height: 35px;
        width: 35px;
        font-size: 35px;
        line-height: 35px;
    }

    .inquiry{
        font-size: 42px;
    }
    .answer-area{
        margin-top: 8vh;
        font-size: 45px;
    }
    .answerStyle{
        height: 45px;
        width: 45px;
    }
    .life-qty{
        margin-top: 5vh;
        font-size: 42px;
    }
    .total-live{
        font-size: 44px;
    }
    .clue{
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-size: 40px;
    }
    .draw-information{
        top:15px;
    }
    .btn-position{
        position: relative;
        margin: 15vh auto;
    }
    .btn{
        margin: 15px;
        padding: 10px;
        height: 70px;
        width: 250px;
        font-size: 35px;
    }
}
@media (orientation: portrait) and (min-width: 1024px){
    .task{
        font-size: 50px;
    }
    .letters{
        height: 45px;
        width: 45px;
        font-size: 45px;
        line-height: 45px;
    }
    .checked-letters{
        height: 45px;
        width: 45px;
        font-size: 45px;
        line-height: 45px;
    }
    .good-letters{
        height: 45px;
        width: 45px;
        font-size: 45px;
        line-height: 45px;
    }
    .inquiry{
        font-size: 47px;
    }
    .answer-area{
        margin-top: 8vh;
        font-size: 50px;
    }
    .answerStyle{
        height: 50px;
        width:50px;
    }
    .life-qty{
        margin-top: 5vh;
        font-size: 47px;
    }
    .total-live{
        font-size: 49px;
    }
    .clue{
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-size: 45px;
    }
    .draw-information{
        top:15px;
    }
    .btn-position{
        position: relative;
        margin: 15vh auto;
    }
    .btn{
        margin: 15px;
        padding: 15px;
        height: 90px;
        width: 300px;
        font-size: 40px;
    }
}

/*@media landscape*/
@media (orientation: landscape) and (max-width: 800px) {
    .task{
        font-size: 25px;
    }
    .letters{
        height: 20px;
        width: 20px;
        font-size: 20px;
        line-height: 20px;
    }
    .checked-letters{
        height: 20px;
        width: 20px;
        font-size: 20px;
        line-height: 20px;
    }
    .good-letters{
        height: 20px;
        width: 20px;
        font-size: 20px;
        line-height: 20px;
    }
    .inquiry{
        font-size: 22px;
    }
    .answer-area{
        margin-top: 10vh;
        font-size: 25px;
    }
    .answerStyle{
        height: 25px;
        width: 25px;
    }
    .life-qty{
        margin-top: 10vh;
        font-size: 22px;
    }
    .total-live{
        font-size: 24px;
    }
    .clue{
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-size: 20px;
    }
.draw-information{
    margin-top: 5vh;
}
    .btn-position{
        position: relative;
        margin: 10vh auto;
    }
    .btn{
        padding: 3px;
        height: 30px;
        width: 100px;
        font-size: 15px;
    }
}
@media (orientation: landscape) and (min-width: 801px) and (max-width:1023px){
    .task{
        font-size: 30px;
    }
    .letters{
        height: 25px;
        width: 25px;
        font-size: 25px;
        line-height: 25px;
    }
    .checked-letters{
        height: 25px;
        width: 25px;
        font-size: 25px;
        line-height: 25px;
    }
    .good-letters{
        height: 25px;
        width: 25px;
        font-size: 25px;
        line-height: 25px;
    }
    .inquiry{
        font-size: 27px;
    }
    .answer-area{
        margin-top: 10vh;
        font-size: 30px;
    }
    .answerStyle{
        height: 30px;
        width: 30px;
    }
    .life-qty{
        margin-top: 12vh;
        font-size: 27px;
    }
    .total-live{
        font-size: 29px;
    }
    .clue{
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-size: 25px;
    }
    .draw-information{
        margin-top: 5vh;
    }
    .btn-position{
        position: relative;
        margin: 15vh auto;
    }
    .btn{
        padding: 6px;
        height: 40px;
        width: 150px;
        font-size: 20px;
    }
}
@media (orientation: landscape) and (min-width: 1024px) and (max-width:1300px){
    .task{
        font-size: 35px;
    }
    .letters{
        height: 30px;
        width: 30px;
        font-size: 30px;
        line-height: 30px;
    }
    .checked-letters{
        height: 30px;
        width: 30px;
        font-size: 30px;
        line-height: 30px;
    }
    .good-letters{
        height: 30px;
        width: 30px;
        font-size: 30px;
        line-height: 30px;
    }
    .inquiry{
        font-size: 32px;
    }
    .answer-area{
        margin-top: 10vh;
        font-size: 35px;
    }
    .answerStyle{
        height: 35px;
        width: 35px;
    }
    .life-qty{
        margin-top: 12vh;
        font-size: 32px;
    }
    .total-live{
        font-size: 34px;
    }
    .clue{
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-size: 30px;
    }
    .draw-information{
        margin-top: 5vh;
    }
    .btn-position{
        position: relative;
        margin: 15vh auto;
    }
    .btn{
        padding: 10px;
        height: 50px;
        width: 200px;
        font-size: 25px;
    }
}
@media (orientation: landscape) and (min-width: 1301px) and (max-width:1600px){
    .task{
        font-size: 45px;
    }
    .letters{
        height: 40px;
        width: 40px;
        font-size: 40px;
        line-height: 40px;
    }
    .checked-letters{
        height: 40px;
        width: 40px;
        font-size: 40px;
        line-height: 40px;
    }
    .good-letters{
        height: 40px;
        width: 40px;
        font-size: 40px;
        line-height: 40px;
    }
    .inquiry{
        font-size: 42px;
    }
    .answer-area{
        margin-top: 2vh;
        font-size: 45px;
    }
    .answerStyle{
        height: 45px;
        width: 45px;
    }
    .life-qty{
        margin-top: 5vh;
        font-size: 42px;
    }
    .total-live{
        font-size: 44px;
    }
    .clue{
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-size: 40px;
    }
    .draw-information{
        margin-top: 2vh;
    }
    .btn-position{
        position: relative;
        margin: 15vh auto;
    }
    .btn{
        padding: 13px;
        height: 70px;
        width: 250px;
        font-size: 35px;
    }
}
@media (orientation: landscape) and (min-width: 1601px) and (max-width:1920px){
    .task{
        font-size: 55px;
    }
    .letters{
        height: 50px;
        width: 50px;
        font-size: 50px;
        line-height: 50px;
    }
    .checked-letters{
        height: 50px;
        width: 50px;
        font-size: 50px;
        line-height: 50px;
    }
    .good-letters{
        height: 50px;
        width: 50px;
        font-size: 50px;
        line-height: 50px;
    }
    .inquiry{
        font-size: 52px;
    }
    .answer-area{
        margin-top: 4vh;
        font-size: 55px;
    }
    .answerStyle{
        height: 55px;
        width: 55px;
    }
    .life-qty{
        margin-top: 7vh;
        font-size: 52px;
    }
    .total-live{
        font-size: 54px;
    }
    .clue{
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-size: 50px;
    }
    .draw-information{
        margin-top: 4vh;
    }
    .btn-position{
        position: relative;
        margin: 15vh auto;
    }
    .btn{
        padding: 16px;
        height: 90px;
        width: 300px;
        font-size: 45px;
    }
}