.footer{
    position: fixed;
    height: 4vh;
    width: 100%;
    bottom: 0;
    right:0;
    text-align: center;
    line-height: 4vh;
    font-style: italic;
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    background-color: rgba(218,165,32,.7);
    color: black;
}

/*@media portrait*/
@media (orientation: portrait) and (min-width: 320px) and (max-width: 380px){
    .footer{
        padding: 1%;
        height: 4vh;
        line-height: 2vh;
        font-size: 10px;
    }
}
@media (orientation: portrait) and (min-width: 381px){
    .footer{
        padding: 1%;
        height: 4vh;
        line-height: 2vh;
        font-size: 15px;
    }
}
@media (orientation: portrait) and (min-width: 760px){
    .footer{
        padding: 1%;
        height: 2vh;
        line-height: 2vh;
        font-size: 20px;
    }
}
@media (orientation: portrait) and (min-width: 1024px){
    .footer{
        padding: 1%;
        height: 2vh;
        line-height: 2vh;
        font-size: 25px;
    }
}

/*@media landscape*/
@media (orientation: landscape) and (max-width: 800px) {
    .footer{
        padding: 1%;
        height: 2vh;
        line-height: 2vh;
        font-size: 10px;
    }
}
@media (orientation: landscape) and (min-width: 801px) and (max-width:1023px){
    .footer{
        padding: 1%;
        height: 2vh;
        line-height: 2vh;
        font-size: 15px;
    }
}
@media (orientation: landscape) and (min-width: 1024px) and (max-width:1300px){
    .footer{
        padding: 1%;
        height: 2vh;
        line-height: 2vh;
        font-size: 20px;
    }
}
@media (orientation: landscape) and (min-width: 1301px) and (max-width:1600px){
    .footer{
        padding: 1%;
        height: 2vh;
        line-height: 2vh;
        font-size: 25px;
    }
}
@media (orientation: landscape) and (min-width: 1601px) and (max-width:1920px){
    .footer{
        padding: 1%;
        height: 2vh;
        line-height: 2vh;
        font-size: 30px;
    }
}